replicaCount: 1

image:
  repository: myaksdemo01acr123.azurecr.io/hello-web
  tag: "1.16.0"
  pullPolicy: IfNotPresent


imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: false
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}
securityContext: {}

service:
  type: LoadBalancer
  port: 80

containerPort: 80

ingress:
  enabled: false

resources: {}

livenessProbe:
  httpGet:
    path: /
    port: 80

readinessProbe:
  httpGet:
    path: /
    port: 80

autoscaling:
  enabled: false

nodeSelector: {}
tolerations: []
affinity: {}
